<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/"><img src="/images/logo.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li><a class="nav-link" href="/">Inicio </a></li>

              <li><a class="nav-link" href="/products/add">Agregar </a></li>
            </ul>
            <form id="form-search-header" class="d-flex" action="/search" >
                <input id="search-header" class="form-control me-2" type="search" placeholder="Buscar..." name="busqueda">
                <button class="btn btn-outline-light" type="submit">Buscar</button>
              </form>
            
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li><a class="nav-link" href="#">Ingresá </a></li>

                <li><a class="nav-link" href="#">Registrate </a></li>
               
              
            
          
              </ul>
          
          </div>
         
        </div>
      
      </nav>
     
</header>
