
<article class="home__main__section__article--product">
    <figure>
      <img src="/images/products/<%= image%>" alt="" />
    </figure>
    <h3><%= name %></h3>
    <p>
      <%= description %>  
    </p>
    <a class="general__button__product" href="/products/detail/<%= id %>"
      >ver más</a
    >
  </article>